.loading-wrapper {
  max-width: 200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.image-wrapper {
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translate(-8px, 0) rotate(-18deg);
  }
  33% {
    transform: translate(8px, 0) rotate(18deg);
  }
  50% {
    transform: translate(-8px, 0) rotate(-12deg);
  }
  60% {
    transform: translate(8px, 0) rotate(18deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
