@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

body {
  font-family: "Roboto", sans-serif;
}

html,
body {
  background-color: #f0f1fc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.pokemon-button {
  border-radius: 20px;
  border: 1px solid #052a47;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #000;
  transition: 0.2s all ease-in-out;
  background-color: #aed8e6;
  font-weight: bold;
  min-width: 110px;

  &:hover {
    cursor: pointer;
    background-color: #eaeaea;
  }

  &:disabled,
  &[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;

    &:hover {
      cursor: default;
      background-color: #cccccc;
    }
  }
}
